* {
    margin-top: 0rem;
    margin-left: 0px;
    margin-right: 0px;
}

body {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: var(--neon-yellow);
	text-align: left;
	font-weight: 400;
	font-style: normal;
	line-height: 140%;
}

nav {
	background-color: var(--neon-yellow);
	margin: 0px;
	position: sticky;
	top: 0px;
	text-align: center;
}

h2 {
	font-family: var(--font-family-1);
	padding: 5px;
}

h3 {
	font-size: var(--size-3);
	font-family: var(--font-family-2);
	text-transform: uppercase;
	padding: 12px;
	border-top: solid 1px var(--black);
	position: sticky;
	top: 40px;
	background-color: var(--white);
	}

p { 
	padding: 25px;
	font-family: var(--font-family-6); 
}

section {
	background-color: var(--white);
	color: var(--black);
	padding-bottom: 4rem;
}

header {
    position: relative;
	height: 25rem;
	margin-top: 0px;
}

div {
	font-family: "Dela Gothic One", sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 10px;
		text-align: center;
		padding: 5px;
		background-color: var(--neon-yellow);
		position: sticky;
		top: 0px;
		
}

span {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.mainh1 {
    color: #000000;
    font-family: "Rubik Spray Paint", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 0;
    position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
	text-shadow:
	  3px 3px 2px #D7FF00,
	  -3px 3px 2px #D7FF00,
	  -3px -3px 0 #D7FF00,
	  3px -3px 0 #D7FF00;

}

#ugly {
    font-family: "Imperial Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 14rem;
    transform: rotate(90deg);
    position: absolute;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%) rotate(90deg); 
}

.author {
	font-family: "Dela Gothic One", sans-serif;
		font-weight: 400;
		font-style: normal;
		text-align: center;
		text-transform: uppercase;
		font-size: var(--size-0);
}

.introductionparagraph {
	font-size: var(--size-2);
	line-height: calc(100% + 6px);
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.header-colophon {
	background-color: var(--black);
	color: var(--white);
	}

.colophon {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

/* footer section */
footer{
	background-color: var(--neon-yellow);
	color: var(--black);
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 18px;
	padding-top: 10px;
	font-family: var(--font-family-1);
	text-transform: uppercase;
	border-top: solid 1px var(--black);
}
.footer-left {
	font-size: var(--size-0);
	text-align: left;
}

.footer-right {
	font-size: var(--size-0);
	float: right;
	padding-right: 0.5rem;
}
/* footer section */

blockquote {
	font-family: var(--font-family-6);
		font-weight: 900;
		font-style: normal;
		text-align: center;
		font-size: var(--size-3);
		line-height: calc(100% + 8px);
		/* text-transform: uppercase; */
		padding: 10px;
		padding-top: 50px;
		padding-bottom: 50px;
		background-color: #D7FF00;
		color: var(--black);
}

body > article > section:nth-child(4) > blockquote {
transform: rotate(180deg);
align-self: center;
}

body > article > section:nth-child(5) > blockquote:nth-child(3) {
	background-color: var(--black);
	color: var(--neon-yellow);
	padding-top: 12rem;
	padding-bottom: 12rem;
}

.aggressive {
	font-family: var(--font-family-3);
	font-weight: 100;
	font-size: var(--size-5);
}

a {
	--font-family-1: "Climate Crisis", sans-serif;
	text-shadow:
	  3px 3px 2px #D7FF00,
	  -3px 3px 2px #D7FF00,
	  -3px -3px 0 #D7FF00,
	  3px -3px 0 #D7FF00;
	  color:#000000;
}

li:nth-child(1) {
    border-top: 5px solid black;