* {
	padding: 0px;
	margin: 0px;
}

body {
	margin: 0px;
	text-align: center;
	
}

header {
	color: white;
	background-color: darkgreen;
	padding: 50px;
}

h1, .author, blockquote {
	font-family: "Imbue", serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: light;
	text-transform: uppercase;
	text-align: center;
	padding: 50px;
}

.vl {
	border-left: 6px solid white
	/* height: 50px; */
	position: absolute;
	left: 50%;
	margin-left: -3px;
	top: 150px;
  }

  section, p {
	border-top: solid 0.5px black;
	border-bottom: solid 0.5px black;
  }

  p {
	padding: 20px;
  }


  blockquote {
		background-color: #C1D7C1;
		font-size: 30px;
  }
  

  .introductionparagraph {
	background-color: #FDE3E4;
  }

