* {
    margin: 0px;
}
a{
	text-decoration:black underline;
	text-shadow: 3px 3px 2px #D7FF00, -3px 3px 2px #D7FF00, -3px -3px 0 #D7FF00, 3px -3px 0 #D7FF00;
}

body {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: var(--white);
	text-align: left;
	font-weight: 400;
	font-style: normal;
	line-height: 140%;
}

blockquote {
	font-family: var(--font-family-6);
		font-weight: 900;
		font-style: normal;
		text-align: center;
		font-size: var(--size-3);
		line-height: calc(100% + 8px);
		/* text-transform: uppercase; */
		padding: 10px;
		padding-top: 50px;
		padding-bottom: 50px;
		background-color: #D7FF00;
		color: var(--black);
}

nav {
	background-color: var(--neon-yellow);
	margin: 0px;
	position: sticky;
	top: 0px;
	text-align: center;
	
}

h1 {
	font-family: var(--font-family-3);
	font-weight: 900;
	font-style: bold;
	font-optical-sizing: ultra-condensed;
	font-weight: auto;
	font-style: ultra-condensed;
	font-variation-settings:
	  "wdth" 30;
	font-size: 46px;
	width: 100%;
	text-transform: uppercase;
	word-spacing: -5px;
	padding-top: 1rem;
	margin-bottom: 9rem;
	text-align: center;
  }

h2 {
	color: var(--black);
	font-family: var(--font-family-1);
	padding: 5px;
}

h3 {
	font-size: var(--size-3);
	font-family: var(--font-family-2);
	text-transform: uppercase;
	padding: 12px;
	border-top: solid 1px var(--black);
	position: sticky;
	top: 40px;
	background-color: var(--white);
	}

p { 
		padding: 25px;
		font-family: var(--font-family-6); 
		max-width: 90vw;
		margin: auto;
	}

section {
	background-color: var(--white);
	color: var(--black);
	padding-bottom: 4rem;
}

#colophon, #colophon p, #colophon h3{
	/* background-color:black; */
	color:white,
}

header {
    position: relative;
	height: 38rem;
	margin-top: 0px;
	background-color: var(--neon-yellow);
}

/* .scroll-button {
	padding-bottom: 2rem;
	padding-top: 4rem; 
} */

.condensed {
	-moz-transform: scale(1, 3);
	 -ms-transform: scale(1, 3);
	  -o-transform: scale(1, 3);
		 transform: scale(1, 3);
	font-size: 130px;
	align-content: center;
	/* margin-bottom: 9rem; */
	margin-top: 0.5em;
	align-content: center;
	--inset--top:    -0.2em; /* Font/line-height-dependent! */
	--inset--bottom: -0.23em;
	--inset--left:   -0.07em;
	--inset--right:  -0.7em;
	font-family: "Anton", sans-serif;
	}
	
#ugly {
	align-content: center;
	font-family: "Anton", sans-serif;
}

.external-link {
	padding-bottom: 64px;
}

section {
	padding-top: 5px;
	padding-bottom: 5px;
}

/* p::first-line {
	font-family: "BioRhyme Expanded", serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.2rem;
	font-style: expanded;
	font-stretch: expanded;
	font-stretch: 200%;
		-webkit-transform: scale(1, 1);
	 -moz-transform: scale(2, 1);
	 -ms-transform: scale(2, 1);
	  -o-transform: scale(2, 1);
		 transform: scale(2, 1); 
	 width: 90%;
  } */

  /* new things try and error */

p { 
	padding: 14px;
}

header {
    position: relative;
	height: 30rem;
	margin-top: 0px;
	background-color: var(--neon-yellow);
	align-content: center;

}

/* #ugly {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14rem;
    transform: rotate(90deg);
    position: absolute;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%) rotate(90deg); 
} */

.introductionparagraph {
	font-size: var(--size-2);
	line-height: calc(100% + 6px);
}

.header-colophon {
	/* background-color: var(--black); */
	color: var(--white);
	background-color: var(--black);
	}

#header-colophon {
	/* background-color: var(--black); */
	background-color: var(--black);
	color: var(--white);
	position: sticky;
	top: 0px;
	}


.colophon {
	padding-top: 4rem;
	padding-bottom: 4rem;
}


section #colophon h3{
	color:white,

}
#colophon .header-colophon{
	color:white;
}


.external-link {
	padding-bottom: 64px;
}

.stretch, .stretch02, .stretch03 {
	transform: skew(15deg, 15deg);
	font-stretch: 150%;
	display:inline-block;
    -webkit-transform:scale(2.5,1);
	line-height: calc(100% - 1px);
	z-index: -200;
	text-align: center;
	align-content: center;
	/* margin-left: 25%;
	margin-right: 25%; */
}

.stretch02 {
	padding-bottom: 5px;
	z-index: -200;
}

.stretch03 {
	font-size: var(--size-2);
}

.squish {
		transform: scale(1, 0.75);
}

blockquote {
	font-family: var(--font-family-6);
		font-weight: 900;
		font-style: normal;
		text-align: center;
		font-size: var(--size-3);
		line-height: calc(100% + 8px);
		/* text-transform: uppercase; */
		padding: 10px;
		padding-top: 50px;
		padding-bottom: 50px;
		background-color: var(--neon-yellow);
		color: black;
}

body > article > section:nth-child(3) > blockquote:nth-child(6) {
	font-size: var(--size-2);
}

.skew {
	font-size: var(--size-4);
	/* background-color: var(--black);
	color: var(--neon-yellow); */
	transform: skew(10deg, 10deg);
	/* font-stretch: 150%; */
	margin-top: 40px;
	margin-bottom: 40px;
}

.author, body > header > p {
	padding-top: 4rem;
}

  /* new things try and error */

  a {
	--font-family-1: "Climate Crisis", sans-serif;
	text-shadow:
	  3px 3px 2px #D7FF00,
	  -3px 3px 2px #D7FF00,
	  -3px -3px 0 #D7FF00,
	  3px -3px 0 #D7FF00;
	  color:#000000;
	  text-decoration: none;
}

/* footer section */
footer{
	background-color: var(--neon-yellow);
	color: var(--black);
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 18px;
	padding-top: 10px;
	font-family: var(--font-family-1);
	text-transform: uppercase;
	border-top: solid 1px var(--black);
}

.footer-left {
	font-size: var(--size-0);
	text-align: left;
}

.footer-right {
	font-size: var(--size-0);
	float: right;
	padding-right: 0.5rem;
}

/* This is the small navigation for mobile on each article */
#menu {
    list-style: none;
	min-width: 100%;
	width: 100vw;
    }

    #menu > li.sub ul {

    list-style: none;
    position: absolute;
    top: -1000em;
    left: 0px;
	justify-content: space-evenly;
	width: 100vw;
    }

    #menu li.sub ul li a {
    display: inline;
	text-decoration:none;
    }

    #menu > li.sub:hover ul {
    top: 3em;
    }

    #menu{
    text-align:left;
    }

	li:nth-child(3) {
		border-top: 5px solid black;
	}


	@media (min-width: 600px){
		
		.skew {
			/* max-width: 70%; */
			margin-left: 100px;
			margin-right: 100px;
			transform: skew(5deg, 5deg);
			font-size: var(--size-3);
		}
	}

@media (min-width: 992px) {

	body {
	   align-content: center;
	   /* margin-left: 50%;
	   margin-right: 50%; */
   }

   p {
	   max-width: 70%;
   }

   h3 {
	   padding-top: 20px;
	   padding-bottom: 20px;
   }

   blockquote {
	   padding-left: 30%;
	   padding-right: 30%;
   }

   header {
	align-content: center;
   }

   .skew {
	/* max-width: 70%; */
	margin-left: 100px;
	margin-right: 100px;
	transform: skew(5deg, 5deg);
	font-size: var(--size-3);
}
}

@media (min-width: 1000px) {
	body {
	   align-content: center;
   }

   p {
	   max-width: 60%;
   }
}