body {
	font-family: "Overpass Mono", serif;
  	font-optical-sizing: auto;
}

nav {
	background-color: var(--neon-yellow);
	margin: 0px;
	position: sticky;
	top: 0px;
	text-align: center;
}

h1 {
  /* font-family: "Inconsolata", monospace; */
  /* font-family: "Roboto Condensed", sans-serif; */
  /* font-family: "Anton", sans-serif; */
  font-family: "Rubik Spray Paint", system-ui;
  font-weight: 900;
  font-style: bold;
  font-optical-sizing: ultra-condensed;
  font-weight: auto;
  font-style: ultra-condensed;
  font-variation-settings:
    "wdth" 30;
  font-size: 46px;
  width: 100%;
  text-transform: uppercase;
  word-spacing: -5px;
  margin-bottom: 5rem;
  /* margin-top: 4rem; */
}

.condensed {
	webkit-transform: scale(1, 3);
	-moz-transform: scale(1, 3);
	 -ms-transform: scale(1, 3);
	  -o-transform: scale(1, 3);
		 transform: scale(1, 3);
	font-family: "Anton", sans-serif;
	font-size: 130px;

#ugly {
	font-size: 12rem;
	margin-bottom: 9rem;
	margin-top: 0.5em;
}

blockquote {
	font-family: "Anton", sans-serif;
	font-weight: 100;
	font-style: ultra-expanded;
	font-weight: auto;
	font-style: ultra-expanded;
	font-stretch: ultra-expanded;
	line-height: 95%;
	font-stretch: 200%;
	font-size: 3rem;
	text-transform: uppercase;
	background-color: var(--white);
	color: black;
	margin: -20px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	/* text-align: justify */
	/* -webkit-transform: scale(1, 1); */
	/* -moz-transform: scale(2, 1);
	 -ms-transform: scale(2, 1);
	  -o-transform: scale(2, 1);
		 transform: scale(2, 1); */
	/* width: 90%; */
}

section {
	padding-top: 5px;
	padding-bottom: 5px;
}

p::first-line {
	font-family: "BioRhyme Expanded", serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.2rem;
	font-style: expanded;
	font-stretch: expanded;
	font-stretch: 200%;
		-webkit-transform: scale(1, 1);
	 -moz-transform: scale(2, 1);
	 -ms-transform: scale(2, 1);
	  -o-transform: scale(2, 1);
		 transform: scale(2, 1); 
	 width: 90%;
  }

  /* new things try and error */

  * {
    margin-top: 0rem;
    margin-left: 0px;
    margin-right: 0px;
}

body {
	margin-left: 0px;
	margin-right: 0px;
	margin-top 0px;
	margin-bottom: 0px;
	/* padding: 10px; */
	background-color: #D7FF00;
	text-align: left;
	font-family: "PT Serif", serif;
	font-weight: 400;
	font-style: normal;
	line-height: 140%;
}

p { 
	padding: 14px;
}

section {
	background-color: black;
	color: var(--white);
}

header {
    position: relative;
	height: 25rem;
	margin-top: 0px;
	background-color: var(--neon-yellow);
}

div {
	font-family: "Dela Gothic One", sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 10px;
		text-align: center;
		padding: 5px;
		background-color: #D7FF00;
		position: sticky;
		top: 0px;
		
}

.mainh1 {
    color: #000000;
    font-family: "Rubik Spray Paint", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 0;
    position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
	text-shadow:
	  3px 3px 2px #D7FF00,
	  -3px 3px 2px #D7FF00,
	  -3px -3px 0 #D7FF00,
	  3px -3px 0 #D7FF00;

}

#ugly {
    font-family: "Imperial Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 14rem;
    transform: rotate(90deg);
    position: absolute;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%) rotate(90deg); 
}

.author {
	font-family: "Dela Gothic One", sans-serif;
		font-weight: 400;
		font-style: normal;
		text-align: center;
		text-transform: uppercase;
		font-size: 10px;
}

.introductionparagraph, .whitebackground {
	background-color: white;
	color: black;
	padding-top: 20px;
	padding-bottom: 20px;
}


blockquote {
	font-family: "Dela Gothic One", sans-serif;
		font-weight: 400;
		font-style: normal;
		text-align: center;
		text-transform: uppercase;
		padding: 10px;
		background-color: #D7FF00;
		color: black;

}

a {
	font-family: "Rubik Spray Paint", system-ui;
	text-shadow:
	  3px 3px 2px #D7FF00,
	  -3px 3px 2px #D7FF00,
	  -3px -3px 0 #D7FF00,
	  3px -3px 0 #D7FF00;
	  color:#000000;
}

  /* new things try and error */

a {
	font-family: "Rubik Spray Paint", system-ui;
	text-shadow:
	  3px 3px 2px #D7FF00,
	  -3px 3px 2px #D7FF00,
	  -3px -3px 0 #D7FF00,
	  3px -3px 0 #D7FF00;
	  color:#000000;
}

li:nth-child(3) {
    border-top: 5px solid black;
}

/* This is the small navigation for mobile on each article */
#menu {
    list-style: none;
	min-width: 100%;
	width: 100vw;
    }

    #menu > li.sub ul {

    list-style: none;
    position: absolute;
    top: -1000em;
    left: 0px;
	justify-content: space-evenly;
	width: 100vw;
    }

    #menu li.sub ul li a {
    display: inline;
    }

    #menu > li.sub:hover ul {
    top: 3em;
    }

    #menu{
    text-align:left;
    }