:root  {
	--base size: 19px;
}

* {
	margin:0px;
}

/* * {
	margin-top: 2rem;
	margin-left: 5px;
	margin-right: 5px;

} */

:root {
	/* Sizes */
	--size-0: 10px;
	--size-1: 18px;
	--size-2: 24px;
	--size-3: 32px;
	--size-4: 48px;
	--size-5: 64px;
	--size-6: 80px;
	--size-7: 96px;
	--size-8: 112px;
	--size-9: 144px;
	--size-10: 160px;

	/* Font */
	--font-family-1: "Climate Crisis", sans-serif;
	--font-family-2: "Dela Gothic One", sans-serif;
	--font-family-3: "Rubik Spray Paint", system-ui;
	--font-family-4: "PT Serif", serif;
	--font-family-5: "Ubuntu", sans-serif;
	--font-family-6: "Space Grotesk", sans-serif;
	--font-family-7: "Imperial Script", cursive;
	font-weight: 700;
	font-style: normal;
	
	/* Font Weight */
	--font-weight-regular: 400;
	--font-weight-bold: 700;
	
	/* Color */
	--black: #131313;
	--white: #f1f1ea;
	--neon-yellow: #D7FF00;
}

body, p {
	font-size: var(--size-1);
	/* font-family: "Libre Caslon Display", serif; */
	/* font-family: "Raleway", sans-serif; */
	font-family: "Merriweather", serif;
  	font-optical-sizing: auto;
  	font-style: normal;
	/* font-weight: 300; */
	font-style: normal;;

}

.nav-columns {
	/* margin: 5rem auto; */
	width: min(100%);
	/* display: grid; */
	grid-auto-flow: column;
	margin: 0px;
}

li {
	list-style: none;
	border-bottom: 3px solid black;
	padding: 0px;
}

li:nth-child(1) {
	border-top: 3px solid black;
}

ul {
	padding: 0px;
	position: sticky;
	bottom: 0px;
}

nav {
	font-family: var(--font-family-1);
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
	  "YEAR" 1979;
	background-color: var(--neon-yellow);
	margin: 0px;
	padding-bottom: 10px;
	position: sticky;
	top: 0px;
	text-align: center;
	z-index:500;
}

h2 {
	font-family: var(--font-family-1);
	padding: 5px;
}

  p {
	font-family: var(--font-family-6);  
	}

.external-link {
	padding: 25px;
	font-family: var(--font-family-6); 
}

/* This is the small navigation for mobile on each article */
#menu {
    list-style: none;
	min-width: 100%;
	width: 100vw;
    }

    #menu > li.sub ul {

    list-style: none;
    position: absolute;
    top: -1000em;
    left: 0px;
	justify-content: space-evenly;
	width: 100vw;
    }

    #menu li.sub ul li a {
    display: inline;
    }

    #menu > li.sub:hover ul {
    top: 3em;
    }

    #menu{
    text-align:left;
    }

    li{
    display:inline-block;
	border-bottom: 0px solid black;
    }

	li:nth-child(1) {
		border-top: 0px solid black;