body {
	background-color: black;
	color: aliceblue;
}

h1 {
  /* font-family: "Inconsolata", monospace; */
  font-family: "Roboto Condensed", sans-serif;
  /* font-optical-sizing: ultra-condensed;
  font-weight: auto;
  font-style: ultra-condensed; */
  font-variation-settings:
    "wdth" 30;
  font-size: 4.1rem;
  width: 100%;
  text-transform: uppercase;
  word-spacing: -5px;
  margin-bottom: 5rem;
  /* margin-top: 4rem; */
}

.condensed {
	webkit-transform: scale(1, 6);
	-moz-transform: scale(1, 6);
	 -ms-transform: scale(1, 6);
	  -o-transform: scale(1, 6);
		 transform: scale(1, 6);
}

#ugly {
	font-size: 10rem;
	margin-bottom: 20rem;
	margin-top: 16rem;
}
