* {
	padding 0px;
	margin: 0px;
}

body {
	margin: 0px;
}

header {
	color: white;
	background-color: darkgreen;
	padding: 50px;
}

h1, .author {
	font-family: "Imbue", serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: light;
	text-transform: uppercase;
	text-align: center;
	padding: 50px;
}

.vl {
	border-left: 6px solid white
	height: 50px;
	position: absolute;
	left: 50%;
	margin-left: -3px;
	top: 150px;
  }

  section {
	border: solid 2px white;
  }

  p {
	padding: 20px;
	
  }